{% extends 'common/base.html' %}

{% block content %}
    <h2>All Jobs</h2>
    <ul>
        {% for job in jobs %}
            <li>{{ job.title }}
            {% if job.homeowner.homeownerprofile %}
                {% with profile=job.homeowner.homeownerprofile %}
                    {% if profile.first_name or profile.last_name %}
                        (Posted by         {% if profile.first_name %}{{ profile.first_name }}{% endif %}
                        {% if profile.last_name %}{{ profile.last_name }}{% endif %})
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}